*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(33,37,41);
}
main{
    background-color:rgb(33,37,41);
}
/* barra de navegacion */
a{
    text-decoration: none;
}
.logo{
    height: 80px;
}
/* footer */
footer .redSocial{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    
}
.footerInc{
    color: rgba(128, 128, 128, 0.733);
}
.border-boton{
    border-bottom: 1px solid #3d4042!important;
}

.redSocial a{
    padding: 10px;
}

.redSocial a :hover{
    background-color: white;
    color: black;
    border-radius: 30%;
}
.redesSociales{
    color:#ffff;
}
.direccion{ 
    color: #fff ;
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.direccionCont{
    width: 100%;
    display: flex;
}

.dire{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(33,37,41);
}

/* h1,h2 de todas las paginas  */
h1{
    font-size: 2px;
    text-align: center;
    color: #fff;
    background-color: rgb(33,37,41);
}

h2{
    font-weight: 100px;
    font-size: 50px;
    text-align: center;
}
/* indexxxx */

.imagen{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.imagenA{
    width: 65%;
    display:flex;
    flex: 1;
    min-width: 300px;
}

.infoImagen{
    color: rgb(245, 240, 240);
    width: 45%;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    min-width: 300px;

}

.infoImagen h4{
    font-size: 2em;
    color: beige;
    line-height: 0.9em;
    padding-left: 10%;
}

.infoImagen h4 span{
    color: black;
    font-weight: 300;
}
.cartas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

/* RECETAS */
.carousel{
    width: 100%;
    height: 25%;
}
.contenedorCar{
    display: flex;
    justify-content: center;
}
.acordion{
    width: 90%;
}

/* productos */
.cartasProductos{
    padding-top: 20px;
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 250px;
}
.card{
    padding: 20px;
}

/* contactos */
.formulario{
    width: 100%;
    padding: 30px;
}

.sucursales{
    width: 100%;
    display: block;
    padding: 50px;
}

.sucursalesDos{
    width: 100%;
    display: block;
    padding: 50px;
}
.sucuTitulo1{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}
.sucuTitulo2{

    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#fff;
}
.mapas{
    border-radius: 30px;
    width: 100%;
}
/* nosotros */
.infoNosotros{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.infoNosotros_carta1{
    width: 50%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:left;
    min-width: 300px;
    background-color:rgba(169, 169, 169, 0.301);
    border-radius: 20px;
    padding: 25px;
    margin: 20px;
}

.infoNosotros_titulo1{ 
    color: #fff;
    display: flex;
    justify-content: left;
}
.infoNosotros_texto1{
    color: #fff;
    display: flex;
    justify-content: left;
    
}
.infoNosotros_imagen{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:right;
    flex: 1;
    min-width: 300px;
    margin: 20px;
}
.imgNosotros{
    border-radius: 20px;
}
